.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navLink {
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity var(--transition-speed);
}

.navLink:hover {
  opacity: 0.7;
}

.photographerName {
  font-size: 3vw;
  font-weight: normal;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.themeToggle {
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity var(--transition-speed);
}

.themeToggle:hover {
  opacity: 0.7;
}

.square {
  margin-left: 5px;
}

.square.dark {
  color: var(--text-color);
}

.square.light {
  color: var(--text-color);
}
